<!DOCTYPE html>
<html>
<head>
<title>Complete</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{url_for('static', filename='dropzone-5.7.0/dist/dropzone.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='dropzone-5.7.0/dist/dropzone.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<body>
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color" style="background-color: black;" >
  <a class="navbar-brand" href="/">
    <img src="{{url_for('static', filename='logo.png')}}"  style="scale: 1.2;margin: 2px 20px;" height="30" class="d-inline-block align-top"
      alt="mdb logo"> Deepfake Detection
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/HongguLiu/Deepfake-Detection">
          <i class="fab fa-github"></i> GitHub Code
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://deepfakedetectionchallenge.ai/">
          <i class="fab fa-korvue" ></i> DFD Challange </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fab fa-github-square"></i> Contributors </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="https://github.com/ghassane20a" style="padding-left: 0.5rem;" ><i class="fab fa-github" style="margin-right: 20px;" ></i>ghassane20a</a>
          <a class="dropdown-item" href="https://github.com/DrackMB" style="padding-left: 0.5rem;" ><i class="fab fa-github" style="margin-right: 20px;" ></i>DrackMB</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</head>
<body>

 <!-- <img src="{{ url_for('static' , filename =  user_image ) }}" alt="User Image">
   -->

   <video class="video-fluid z-depth-1" autoplay loop controls muted  style="margin: 0 auto;width: 42%;height: 60%;margin-left: 28%;margin-top: 40px;border: 2px dashed black;padding: 3px 50px;">
  <source src="{{ url_for('static' , filename =  'videos/output/003_000.mp4' ) }}" type="video/mp4" />
</video>
<br>
<div class="alert alert-success text-center" role="alert" style="margin: 20px 100px;font-size: 20px; >
  <h4  style="font-size: 40px;" class="alert-heading">Well done!</h4>
  <p>The Detection is done </p>
  <p class="font-weight-bold" >for clarification the model that we are using is not complete, the result may not be accurate </p>
  <p class="text-center">Information about the processing :  </p>
  <hr>
  <p class="mb-0 font-weight-bold text-center ">  {{val}} </p>
</div>

</body>

<!-- Footer -->
<footer style="margin-top: 4rem" class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> DFD.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>