<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
{{ dropzone.load_css() }}
{{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 400px;') }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{url_for('static', filename='dropzone-5.7.0/dist/dropzone.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='dropzone-5.7.0/dist/dropzone.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<body>
{% include 'header.html' %}

<div class=" container-fluid row">
<div class="col-5" style="margin-top: 40px !important;margin: 0 auto;" >
  <div class="card mdb-color" style="width: 36rem;" >
     <div class="card-body" style="padding-bottom: 2.80rem;" >
       <h2 class="font-weight-bold cyan-lighter-hover mb-3">How to train your model</h2>
        <p class="white-darker-hover" style="font-size: 18px;" >
        In order to train a model you'll need to have  2+ videos</p>
        <p class="white-darker-hover" style="font-size: 18px;" >
          one of them is a fake video and the other is a real one.</p> 
        <p class="white-darker-hover" style="font-size: 18px;" >
        Then our neural network will produce a model based in  
        </p>
        <p class="white-darker-hover" style="font-size: 18px;" >
        your dataset (the 2 videos). 
        </p>
      </div>
  </div>
</div>
<div class="col-1" ></div>
<div class="col-6" style="margin-top: 40px !important;margin: 0 auto;" >
  <div class="card mdb-color" style="width: 40rem;" >
     <div class="card-body"  >
           <h2 class="font-weight-bold cyan-lighter-hover mb-3">Before Submitting</h2>
           <p class="white-darker-hover" style="font-size: 18px;" >
            1. Make sure that <strong> Real files names contain 'REAL' word</strong> </p>
           <p class="white-darker-hover" style="font-size: 18px;" >
            2. Make sure that <strong> Fake files names contain 'FAKE' word </strong> </p>
            <p class="white-darker-hover " style="font-size: 18px;" >
            3. When upload is done click Start Training </p>
           <p class=" alert alert-success  white-darker-hover" style="font-size: 18px;" >
            <strong>Exemples:</strong> FAKE.mp4 , REAL.mp4 , FAKE1.mp4</p>
             </p>
      </div>
  </div>
</div>

</div>
<div class="font-weight-bold cyan-lighter-hover mb-3 text-center" style="display:none ; font-size: 30px;margin-top: 10px !important" id="waiting">
    Please Wait : <label  id="minutes">00</label>:<label  id="seconds">00</label>
   <div class="font-weight-light "style=" font-size: 15px"> Expected waiting time : 2 min/MB + upload time </div>
   <div class="font-weight-light "style=" font-size: 15px"> Expected waiting time will go heigher if the quality is high  </div>
</div>
{{ dropzone.create(action='uploada') }}
   <div class="text-center ">
    <input class="btn btn-outline-info btn-lg" style="margin:0 auto;" id="forwardBtn"  type = "button" value = "Start Training" />
   </div>
{{ dropzone.load_js() }}
{{ dropzone.config() }}
</body>
<script>
$("#forwardBtn").on('click', function (e) {
var minutesLabel = document.getElementById("minutes");
var secondsLabel = document.getElementById("seconds");
var totalSeconds = 0;
document.getElementById("waiting").style.display = "block" ; 
setInterval(setTime, 1000);

function setTime() {
  ++totalSeconds;
  secondsLabel.innerHTML = pad(totalSeconds % 60);
  minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
}

function pad(val) {
  var valString = val + "";
  if (valString.length < 2) {
    return "0" + valString;
  } else {
    return valString;
  }
}
});  
 $(function() {
    $('#forwardBtn').bind('click', function() {
     $.getJSON("{{ url_for('module') }}",
        function(data) {
    window.location = "{{ url_for('module_complete') }}";
            });
            return false;
          });
        });
</script>  
<style>
#myDropzone{
  height: 230px;
  border: 3px black dashed;
  margin: 25px 70px;
}
.dz-default.dz-message{
  font-size: 2rem;
  margin: 75px;
}
</style>
<!-- Footer -->
<footer style="margin-top: 4rem"  class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> DFD.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</html>