<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
{{ dropzone.load_css() }}
{{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 400px;') }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{url_for('static', filename='dropzone-5.7.0/dist/dropzone.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='dropzone-5.7.0/dist/dropzone.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<body>
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color" style="background-color: black;" >
  <a class="navbar-brand" href="#">
    <img src="{{url_for('static', filename='logo.png')}}"  style="scale: 1.2;margin: 2px 20px;" height="30" class="d-inline-block align-top"
      alt="mdb logo"> Deepfake Detection
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/HongguLiu/Deepfake-Detection">
          <i class="fab fa-github"></i> GitHub Code
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://deepfakedetectionchallenge.ai/">
          <i class="fab fa-korvue" ></i> DFD Challange </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fab fa-github-square"></i> Contributors </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="https://github.com/ghassane20a" style="padding-left: 0.5rem;" ><i class="fab fa-github" style="margin-right: 20px;" ></i>ghassane20a</a>
          <a class="dropdown-item" href="https://github.com/DrackMB" style="padding-left: 0.5rem;" ><i class="fab fa-github" style="margin-right: 20px;" ></i>DrackMB</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
<div class="col-6 alert alert-info" role="alert">
  Make sure that <strong> Real files names contain 'REAL' word</strong> 
</div>
<div class="col-6 alert alert-info" role="alert">
  Rename Fake files FAKE... 
  Make sure that <strong> Fake files names contain 'FAKE' word </strong> 
</div>
</div>
<div class="alert alert-secondary" role="alert">
<strong>Exemples:</strong> FAKE.mp4 , REAL.mp4 , FAKE1.mp4
</div>
{{ dropzone.create(action='uploada') }}
   <div class="col-md-4 text-center ">
    <input class="btn btn-outline-info btn-lg" style="margin:0 auto;" id="forwardBtn"  type = "button" value = "Click Here" />
   </div>
{{ dropzone.load_js() }}
{{ dropzone.config() }}
</body>
<script>
 $(function() {
    $('#forwardBtn').bind('click', function() {
     $.getJSON("{{ url_for('module') }}",
        function(data) {
    window.location = "{{ url_for('module_complete') }}";
            });
            return false;
          });
        });
</script>  
<style>
#myDropzone{
  margin: 70px 70px;
  height: 230px;
  border: 3px black dashed;
}
.dz-default.dz-message{
  font-size: 20px;
  margin: 75px;
}
</style>
<!-- Footer -->
<footer style="margin-top: 4rem"  class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> DFD.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</html>